body
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	margin-width: 0px;
	margin-height: 0px;
}

img
{
	border: 0px;
}

form
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

div.clear
{
	clear: both;
}

img.png
{
	behavior: url('/cms/htc/all/pngfix.htc');
}

.bold
{
	font-weight: bold;
}

.color_656565
{
	color: #656565;
}

.float_left
{
	float: left;
}

.float_right
{
	float: right;
}