table.default
{
	width: 100%;
	font-family: Arial;
	border-bottom: 1px solid rgb( 236, 236, 236 );
}
	table.default td
	{
		padding: 2px 5px 2px 5px;
	}	

	table.default tr
	{
		height: 35px;
	}
		table.default tr td
		{
			font-size: 80%;
			border-left: 1px solid rgb( 236, 236, 236 );
		}
	
		table.default tr.btw
		{
			background-color: rgb(247, 247, 247);
		}

	table.default tr.header
	{
		background-color: #CCCCCC;
		background-image: url( '/cms/i/frontend/table/grid-blue-hd.gif' );
		height: 22px;
	}

		table.default tr.header td
		{
			font-size: 75%;
			font-weight: bold;
			text-align: center;
			background-image: url( '/cms/i/frontend/table/grid-split.gif' );
			background-repeat: no-repeat;
			background-position: left;
			border-left: 0px solid black;
			border-bottom: 1px solid rgb( 150, 150, 200 );
		}
	
		table.default tr.header td.f
		{
			background-image: none;
		}

	table.default tr:hover
	{
		background-color: #F0F0F0;
		cursor: pointer;
	}

	
table.form_default
{
	font-family: Arial;
	font-size: 75%;
	font-weight: bold;
}

table.form_default input
{
	font-weight: normal;
	padding-left: 3px;
}

table.form_default td
{
	padding: 2px 2px 2px 2px;
}