h3.admin_content
{
	font-weight: bold;
	font-family: Verdana;
	font-family: Verdana;
	font-size: 12pt;
	color: #656565;
}

div.admin_content
{
	margin: 10px 10px 10px 0px;
	font-family: Verdana;
	font-size: 7pt;
	color: #656565;
	font-family: Verdana;
}
